body{
    padding-top: 70px;
}
.master-loginform{
    position: relative;
    top: 100px;
    width: 350px;
    margin: 0 auto;
    padding: 40px;
    -moz-box-shadow:    0 2px 2px #ccc;
    -webkit-box-shadow: 0 2px 2px #ccc;
    box-shadow:         0 2px 2px #ccc;
    background-color: #F7F7F7;
}
.right{
    float:right;
}
.left{
    float:left;
}
.clear{
    clear: both;
}
.formField{
    padding: 5px 0;
}
.formField .btn{
    width: 100%;
}
.frm-small{
    height: 25px;
}

.page-heading{
    height: 48px;
    padding: 0 0 0 60px;
}

.user-groups{
    background-image: url(../../assets/icons/groups48.png);
    background-repeat: no-repeat;
}
.user{
    background-image: url(../../assets/icons/user48.png);
    background-repeat: no-repeat;
}
.resource-groups{
    background-image: url(../../assets/icons/folder48.png);
    background-repeat: no-repeat;
}
.resource{
    background-image: url(../../assets/icons/protected-t48.png);
    background-repeat: no-repeat;
}
.icon-row{   
    width: 22px;
}
.row-icon{
    line-height: 20px;
    height: 22px;
    width: 22px;
    display: block;
}
.resource-row-icon{
    background-image: url(../../assets/icons/protected22.png);
    background-repeat: no-repeat;
}
.resource-groups-row-icon{
    background-image: url(../../assets/icons/folder22.png);
    background-repeat: no-repeat;
}
.user-row-icon{
    background-image: url(../../assets/icons/user22.png);
    background-repeat: no-repeat;
}
.user-groups-row-icon{
    background-image: url(../../assets/icons/usergroups22.png);
    background-repeat: no-repeat;
}
.pagination li.disabled > a:hover{
    cursor: default;
}
.list-group-item{
    background-color: transparent;
    border: none;
}
.list-group{
    margin-bottom: 0;
}